.wrapper {
    position: fixed;
    min-width: 30rem;
    max-width: 36rem;
    height: 5rem;
    background-color: var(--white-color);
    top: 10%;
    right: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    user-select: none;
    border: 1px solid;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    animation: runDisplay 7s ease-in-out;
    // transition: transform 8s ease-in-out;
    opacity: 0;
    &::after {
        content: "";
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
    }
}

.rightIcon,
.leftIcon {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 4px;
    & > h3 {
        font-size: 13px;
        color: #5d5c5c;
    }
    & > p {
        font-size: 13px;
        color: #7e7c7c;
    }
}
.rightIcon {
    color: #7e7c7c;
}
.success {
    background-color: #defbe6;
    border-color: #24a147e2;
    & > .leftIcon {
        color: #24a148;
    }
    &::after {
        background-color: #24a148;
    }
}
.warning {
    background-color: #fff4ce;
    border-color: #f1c31ba2;
    & > .leftIcon {
        color: #f1c21b;
    }
    &::after {
        background-color: #f1c21b;
    }
}
.error {
    background-color: #fdecea;
    border-color: #da1e27a2;
    & > .leftIcon {
        color: #da1e28;
    }
    &::after {
        background-color: #da1e28;
    }
}
.info {
    background-color: #edf4ff;
    border-color: #0f63fea2;
    & > .leftIcon {
        color: #0f62fe;
    }
    &::after {
        background-color: #0f62fe;
    }
}

@keyframes runDisplay {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    25% {
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
