.wrapper {
    min-width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper_event {
    position: relative;
}
.count {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: rgb(246, 7, 7);
    color: var(--white-color);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -3px;
    top: 1px;
}
.icon {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
}
