// mobile < 740px
@media only screen and (max-width: 739px) {
    .wrapper {
        padding: 0.9rem;
    }
    .left {
        & > h3 {
            display: none;
        }
    }
    button.btn_register {
        display: none;
    }
    .search {
        max-width: 17.6rem;
    }
}
// tablet (740px - 1024px)
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        padding: 1.6rem 3.4rem;
    }
    .left {
        & > h3 {
            display: none;
        }
    }
    .search {
        max-width: 32.6rem;
    }
}
// desktop >= 1024px
@media only screen and (min-width: 1024px) {
    .wrapper {
        padding: 1.6rem 3.4rem;
    }
    .search {
        max-width: 42.6rem;
    }
}
.wrapper {
    min-width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f3f3f3dd;
    user-select: none;
}
.left {
    display: flex;
    align-items: center;
}
.logo {
    height: 5rem;
}

.right {
    min-width: 25rem;
}
.right_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
