@import "normalize.css";

:root {
    --black-color: #1d1d1d;
    --white-color: #eae6e6;
    --outer-space: #464f51;
    --lavender-color: #d1cfe2;
    --powder-blue: #9cadce;
    --sky-blue: #7ec4cf;
    --icterine-color: #edf060;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
li,
button,
a,
input {
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--black-color);
}

// responsive

// mobile < 740px
@media only screen and (max-width: 739px) {
}
// tablet (740px - 1024px)
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
// desktop >= 1024px
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
}
//  > 1400
@media only screen and (min-width: 1400px) {
}
